<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
    <!--<customErrors mode="On">-->
      <!--<error statusCode="404" redirect="/Error/PageNotFound?foo=bar" />-->
    <!--</customErrors>-->
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
      <!--<remove name="aspNetCore" />-->
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <!--<remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />-->
      <!--<remove name="OPTIONSVerbHandler" />-->
      <remove name="TRACEVerbHandler" />
      <!--<add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />-->
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <remove name="Server" />
        <remove name="X-Powered-By" />
        <remove name="X-AspNet-Version" />
        <remove name="X-AspNetMvc-Version" />
        <!--<add name="Access-Control-Allow-Methods" value="*" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="*" />-->
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering removeServerHeader="true" allowHighBitCharacters="false" allowDoubleEscaping="false">
        <verbs>
          <add verb="GET" allowed="true" />
          <add verb="POST" allowed="true" />
          <add verb="PATCH" allowed="false" />
          <add verb="DELETE" allowed="false" />
          <add verb="PUT" allowed="false" />
          <!--<add verb="OPTIONS" allowed="false" />-->
          <add verb="HEAD" allowed="true" />
          <add verb="CONNECT" allowed="true" />
          <add verb="COPY" allowed="false" />
          <add verb="LINK" allowed="false" />
          <add verb="UNLINK" allowed="false" />
          <add verb="PURGE" allowed="false" />
          <!--WebDAV extends HTTP headers para communicacion con a server https://www.cloudwards.net/what-is-webdav/ -->
          <add verb="PROPFIND" allowed="false" />
          <add verb="VIEW" allowed="false" />
          <add verb="TRACE" allowed="false" />
          <add verb="MKCOL" allowed="false" />
          <add verb="PROPPATCH" allowed="false" />
          <add verb="LOCK" allowed="false" />
          <add verb="UNLOCK" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <httpErrors>
      <!-- <remove statusCode="507" subStatusCode="-1" />
			<remove statusCode="506" subStatusCode="-1" />
			<remove statusCode="502" subStatusCode="-1" />
			<remove statusCode="501" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="412" subStatusCode="-1" />
			<remove statusCode="406" subStatusCode="-1" />
			<remove statusCode="405" subStatusCode="-1" /> -->
      <remove statusCode="404" subStatusCode="-1" />
      <!-- <remove statusCode="403" subStatusCode="-1" 
			<remove statusCode="402" subStatusCode="-1" />
			<remove statusCode="401" subStatusCode="-1" /> -->
      <remove statusCode="400" subStatusCode="-1" />
      <!--
			<error statusCode="507" subStatusCode="-1" path="/api/error" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<error statusCode="506" subStatusCode="-1" path="/api/error" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<error statusCode="502" subStatusCode="-1" path="/api/error" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<error statusCode="501" subStatusCode="-1" path="/api/error" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<error statusCode="500" subStatusCode="-1" path="/api/error" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<error statusCode="412" subStatusCode="-1" path="/api/error" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<error statusCode="406" subStatusCode="-1" path="/api/error" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<error statusCode="405" subStatusCode="-1" path="/api/error" prefixLanguageFilePath="" responseMode="ExecuteURL" />-->
      <error statusCode="404" subStatusCode="-1" path="/error" prefixLanguageFilePath="" responseMode="ExecuteURL" />

      <!--<error statusCode="403" subStatusCode="-1" path="/api/error" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<error statusCode="402" subStatusCode="-1" path="/api/error" prefixLanguageFilePath="" responseMode="ExecuteURL" />
			<error statusCode="401" subStatusCode="-1" path="/api/error" prefixLanguageFilePath="" responseMode="ExecuteURL" />-->
      <error statusCode="400" subStatusCode="-1" path="/error" prefixLanguageFilePath="" responseMode="ExecuteURL" />
    </httpErrors>
    <defaultDocument enabled="false" />
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44325" />
        <environmentVariable name="COMPLUS_ForceENC" value="1" />
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
      </environmentVariables>
    </aspNetCore>
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>